<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div>
        account
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    
    <!-- selection para selecionar itens de venda-->
    <ion-item>
      <ion-label>Produto</ion-label>
      <ion-select multiple="false" cancelText="Nah" okText="Okay!">
        <ion-select-option value="rifa">Rifa</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>

     <!--Formulario de venda--> 
      <output id="mensagem"></output>
      
      <ion-card-content>
        <label>Vendedor</label>
        <ion-item>
          <ion-input [(ngModel)]="user.vnd"></ion-input>
        </ion-item>
      </ion-card-content>
      <br/>
      <ion-card-content>
        <label>Quantidade por cliente</label>
        <ion-item>
          <ion-input type="number" [(ngModel)]="user.qtd"></ion-input>
        </ion-item>
      </ion-card-content>
      <br/>
      <ion-card-content>
        <label>Observação</label>
        <ion-item>
          <ion-textarea [(ngModel)]="user.obs"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <br/>
      <div>
        
        <ion-tab-button (click)="console()">
          <ion-icon name="save"></ion-icon>
          <ion-label>Salvar Venda</ion-label>
        </ion-tab-button>
      </div>    

  </ion-card>

  <!--tables para consulta de vendas-->
  <!--
  <div id="container">
    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
      </tr>
      <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
      </tr>
      <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
      </tr>
    </table>
  </div>
  -->

  <!--Tab para navegação de paginas-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" (click)="test()">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>